.new{
    width:100%;
    display:flex;
    .bottom-new{
           -webkit-box-shadow: -4px 3px 9px -9px #000000, 2px -5px 9px -9px #000000;
            box-shadow: -4px 3px 9px -9px #000000, 2px -5px 9px -9px #000000; 
            padding:20px;
            margin:20px;
            
            .formfix{
                width: 93%;
                display: flex;
            }
    }
    
}